attrs==19.3.0
Automat==0.8.0
blinker==1.4
cffi==1.13.2
Click==7.0
constantly==15.1.0
content==0.0.1
cryptography==2.8
cssselect==1.1.0
Flask==1.1.1
Flask-HTTPAuth==3.3.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.11.0
lxml==4.5.0
MarkupSafe==1.1.1
parsel==1.5.2
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==2.0.0
PyMySQL==0.9.3
pyOpenSSL==19.1.0
queuelib==1.5.0
Scrapy==2.0.0
service-identity==18.1.0
six==1.14.0
SQLAlchemy==1.3.12
style==1.1.0
toml==0.10.0
Twisted==19.10.0
update==0.0.1
w3lib==1.21.0
Werkzeug==0.16.0
WTForms==2.2.1
zope.interface==4.7.1
