annotated-types==0.7.0
anyio==4.6.2.post1
asynch==0.2.5
baostock==0.8.9
beautifulsoup4==4.12.3
black==24.10.0
bs4==0.0.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
ciso8601==2.3.1
click==8.1.7
clickhouse-driver==0.2.9
clickhouse-sqlalchemy==0.3.2
contourpy==1.3.1
cryptography==44.0.0
cycler==0.12.1
fastapi==0.115.6
fonttools==4.55.0
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httpx==0.25.2
idna==3.10
kafka==1.3.5
kafka-python-ng==2.2.3
kiwisolver==1.4.7
leb128==1.0.8
lxml==5.3.0
lz4==4.3.3
markdown-it-py==3.0.0
matplotlib==3.9.3
mdurl==0.1.2
mootdx==0.11.7
mypy-extensions==1.0.0
numpy==2.1.3
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
pillow==11.0.0
platformdirs==4.3.6
prettytable==3.12.0
psutil==6.1.0
py-mini-racer==0.6.0
pycparser==2.22
pydantic==2.10.3
pydantic_core==2.27.1
Pygments==2.18.0
PyMySQL==1.1.1
pyparsing==3.2.0
pyTelegramBotAPI==4.24.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
redis==5.2.0
requests==2.32.3
rich==13.9.4
scipy==1.14.1
shellingham==1.5.4
simplejson==3.19.3
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.36
starlette==0.41.3
tabulate==0.9.0
tdxpy==0.2.7
telebot==0.0.5
tenacity==8.5.0
tqdm==4.67.1
tushare==1.4.13
typer==0.14.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
urllib3==2.2.3
uvicorn==0.32.1
wcwidth==0.2.13
websocket-client==1.8.0
wheel==0.45.1
zstd==1.5.5.1
