baostock==0.8.8
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.7
clickhouse-driver==0.2.5
clickhouse-sqlalchemy==0.2.3
colorlog==6.7.0
contourpy==1.0.6
cryptography==41.0.5
cycler==0.11.0
fonttools==4.39.4
greenlet==2.0.1
idna==3.4
kiwisolver==1.4.4
lxml==4.9.3
markdown-it-py==3.0.0
matplotlib==3.7.2
mdurl==0.1.2
numpy==1.25.2
packaging==23.1
pandas==2.0.3
Pillow==10.0.0
pycparser==2.21
Pygments==2.16.1
PyMySQL==1.0.3
pyparsing==3.0.9
pytdx==1.72
python-dateutil==2.8.2
pytz==2022.6
PyYAML==6.0
redis==5.0.0
requests==2.31.0
rich==13.6.0
simplejson==3.19.2
six==1.16.0
soupsieve==2.5
SQLAlchemy==1.4.49
SQLAlchemy-Utils==0.41.1
tushare==1.2.89
typer==0.9.0
typing_extensions==4.8.0
tzdata==2022.7
tzlocal==5.0.1
urllib3==2.0.2
websocket-client==0.57.0
