@import './base.css';

#app {
  max-width: 1920px;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* 修改滚动条整体样式 */
::-webkit-scrollbar {
  width: 6px; /* 滚动条的宽度 */
}

/* 修改滚动条滑块样式 */
::-webkit-scrollbar-thumb {
  background-color: darkgrey; /* 滚动条滑块的颜色 */
  border-radius: 6px; /* 滚动条滑块的圆角 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: darkblue; /* 滚动条滑块的颜色 */
  border-radius: 6px; /* 滚动条滑块的圆角 */
}

/* 修改滚动条轨道样式 */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* 滚动条轨道的颜色 */
}
::-webkit-scrollbar-track:hover {
  background: rgba(255, 255, 255, 0.2); /* 滚动条轨道的颜色 */
}
